@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --accent-color:  #F68657;
    --accent-color-light: #F6B352;
    --dark-grey : #1F2124;
    --medium-dark-grey: #383A3F;
    --light-grey: #a8a8a8;
}

.colored {
    color: var(--accent-color);
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h1::first-letter {
    color: var(--accent-color);
    font-size: larger;
}

/* MENU */
.menu {
    background-color: var(--medium-dark-grey);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1em;
}

.menu ul {
    margin: 0;
}

.menu li {
    list-style-type: none;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    line-height: 4rem;
    padding: 0 1rem;
}

.menu li:not(.active) a:hover {
    background-color: var(--dark-grey);
}

.menu .active a {
    background-color: var(--accent-color);
    color: var(--dark-grey);
}

.menu .logo {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}

/* MAIN */

main {
    margin-top: 5rem;
}

main .content {
    width: 65%;
    margin: 0 auto;

}

/* OEUVRES + HISTORIQUE*/

.card {
    background-color: var(--light-grey);
    width: max-content;
    margin: 0 auto;
}

.book_cards {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    text-align: center;
}

.oeuvres .filter {
    text-align: right;
}

.historique .year {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

/* OEUVRE + GAGNANT*/

.book {
    display: flex;
    column-gap: 3rem;;
}

.book_info p {
    font-size: 1.5rem;
}

.book_info p::first-letter {
    color: var(--accent-color);
    font-size: 1.75rem;
    font-weight: bold;
}

.synopsis, .author_bio {
    margin-top: 2rem;
}

.section_title {
    color: var(--accent-color);
    font-size: 1.15rem;
    font-weight: bold;
}

.border_left {
    text-align: justify;
    padding: 0 2rem;
    border-left: 2px solid var(--accent-color);
}

.book_info a {
    color: var(--accent-color);
    font-size: 1.15rem;
    font-weight: bold;
}

/* OEUVRE: JURY */

.notation_inner {
    padding: 0 2rem;
    border-left: 2px solid var(--accent-color);
}

/* FORMULAIRES: PARTICIPEZ + CONNEXION */

form {
    text-align: center;
}

form label, form select, form input{
    width: 350px;
    height: 50px;
    margin: 0.5rem calc(50% - 175px);
}

input[type="submit"], button {
    width: 250px;
    height: 50px;
    margin: 0.5rem calc(50% - 125px);
    background-color: var(--accent-color);
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 1.05rem;
    color: white;
}

input[type="submit"]:hover, button:hover {
    background-color: white;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.signup form textarea {
    width: 350px;
    height: 300px;
    margin: 0.5rem calc(50% - 175px);
    resize: vertical;
}





