/* #region GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --accent-color:  #F68657;
    --accent-color-light: #F6B352;
    --dark-grey : #1F2124;
    --medium-dark-grey: #383A3F;
    --light-grey: #a8a8a8;
}

.colored {
    color: var(--accent-color);
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h1::first-letter {
    color: var(--accent-color);
    font-size: larger;
}

/* #endregion */

/* #region MENU */
.menu {
    background-color: var(--medium-dark-grey);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    padding: 0 1em;
}

.menu ul {
    margin: 0;
}

.menu li {
    list-style-type: none;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    line-height: 4rem;
    padding: 0 1rem;
}

.menu li:not(.active) a:hover {
    background-color: var(--dark-grey);
}

.menu .active a {
    background-color: var(--accent-color);
    color: var(--dark-grey);
}

.menu .logo {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}

.menu .logo a {
    color: white;
    text-decoration: none;
}

.menu .login {
    width: 150px;
}

.menu .login a {
    color: white;
    display: block;
    text-align: center;
}

.menu .login a:first-child {
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--dark-grey);
    height: 2.3rem;
    line-height: 2.3rem;
    font-weight: bold;
}

.menu .login a:first-child:hover {
    background-color: var(--dark-grey);
    color: var(--accent-color);
}

.menu .login a:last-child {
    font-size: .85rem;
    font-style: italic;
    margin-top: 4px;
}

/* affiché uniquement quand l'utilisateur est connecté */
.hidden {
    display:none;
}

/* #endregion */

/* #region MAIN */

main {
    margin-top: 5.5rem;
}

main .content {
    width: 65%;
    margin: 0 auto;

}

/* #endregion */

/* #region OEUVRES + HISTORIQUE*/

.card {
    background-color: var(--light-grey);
    width: max-content;
    margin: 0 auto;
}

.book_cards {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    text-align: center;
}

.oeuvres .filter {
    text-align: right;
}

.historique .year {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

/* #endregion */

/* #region OEUVRE + GAGNANT*/

.book {
    display: flex;
    column-gap: 3rem;;
}

.book_info p {
    font-size: 1.5rem;
}

.book_info p::first-letter {
    color: var(--accent-color);
    font-size: 1.75rem;
    font-weight: bold;
}

.synopsis, .author_bio {
    margin-top: 2rem;
}

.section_title {
    color: var(--accent-color);
    font-size: 1.15rem;
    font-weight: bold;
}

.border_left {
    text-align: justify;
    padding: 0 2rem;
    border-left: 2px solid var(--accent-color);
}

.book_info a {
    color: var(--accent-color);
    font-size: 1.15rem;
    font-weight: bold;
}

/* #endregion */

/* #region FORMULAIRES: PARTICIPEZ + CONNEXION + PROFIL */

form {
    text-align: center;
}

form label:not(.check), form select, form input:not(.check) {
    width: 350px;
    height: 50px;
    margin: 0.5rem calc(50% - 175px);
}

form fieldset {
    width: 380px;
    margin: 0.5rem calc(50% - 190px);
    border: 1px solid var(--accent-color);
}

form fieldset .item {
    text-align: left;
    margin-left: 30%;
}

input[type="submit"], button {
    width: 250px;
    height: 50px;
    margin: 0.5rem calc(50% - 125px);
    background-color: var(--accent-color);
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 1.05rem;
    color: white;
}

input[type="submit"]:hover, button:hover {
    background-color: white;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

form textarea {
    width: 350px;
    height: 300px;
    margin: 0.5rem calc(50% - 175px);
    resize: vertical;
}

/* #endregion */

/* #region MESSAGES ERREUR */

.error {
    display: none;
}

.error.visible {
    display: block;
}

#btn_profil_yes {
    color: white;
    background-color: forestgreen;
    width: 150px;
    margin: 0;
    float:left;
}

#btn_profil_yes:hover {
    color: forestgreen;
    border-color: forestgreen;
    background-color: white;
}

#btn_profil_no {
    color: white;
    background-color: red;
    width: 50px;
    margin: 0 5px;;
    float: left;
}

#btn_profil_no:hover {
    color: red;
    border-color: red;
    background-color: white;
}

.warning {
    width: 210px;
    margin: 0 auto;
}

/* #endregion */

/* #region AUTEUR */



/* #endregion */
