* {
    box-sizing: border-box;
}

:root {
    --accent-color:  #F68657;
    --accent-color-light: #F6B352;
    --dark-grey : #1F2124;
    --medium-dark-grey: #383A3F;
}

.colored {
    color: var(--accent-color);
}

/* MENU */
.menu {
    background-color: var(--medium-dark-grey);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1em;
}

.menu ul {
    margin: 0;
}

.menu li {
    list-style-type: none;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    line-height: 4rem;
    padding: 0 1rem;
}

.menu li:not(.active) a:hover {
    background-color: var(--dark-grey);
}

.menu .active a {
    background-color: var(--accent-color);
    color: var(--dark-grey);
}

/* MAIN */

main {
    margin: 5rem auto 0 auto;
    width: 80%;
    text-align: center;
}